
TelegaBot/TelegaBot/obj/Debug/TelegaBot.pdb
TelegaBot/TelegaBot/obj/Debug/TelegaBot.exe
TelegaBot/TelegaBot/obj/Debug/TelegaBot.csprojAssemblyReference.cache
TelegaBot/TelegaBot/obj/Debug/TelegaBot.csproj.FileListAbsolute.txt
TelegaBot/TelegaBot/obj/Debug/TelegaBot.csproj.CoreCompileInputs.cache
TelegaBot/TelegaBot/obj/Debug/TelegaBot.csproj.CopyComplete
TelegaBot/TelegaBot/bin/Debug/Telegram.Bot.xml
TelegaBot/TelegaBot/bin/Debug/Telegram.Bot.dll
TelegaBot/TelegaBot/bin/Debug/TelegaBot.pdb
TelegaBot/TelegaBot/bin/Debug/TelegaBot.exe.config
TelegaBot/TelegaBot/bin/Debug/TelegaBot.exe
TelegaBot/TelegaBot/bin/Debug/Newtonsoft.Json.xml
TelegaBot/.vs/TelegaBot/xs/UserPrefs.xml
TelegaBot/TelegaBot/bin/Debug/Newtonsoft.Json.dll
TelegaBot/.vs/TelegaBot/xs/sqlite3/storage.ide-wal
TelegaBot/.vs/TelegaBot/xs/sqlite3/storage.ide-shm
TelegaBot/.vs/TelegaBot/xs/sqlite3/storage.ide
TelegaBot/.vs/TelegaBot/xs/sqlite3/db.lock
.DS_Store
TelegaBot/TelegaBot/obj/Debug/TelegaBot.csprojAssemblyReference.cache
TelegaBot/TelegaBot/obj/Debug/TelegaBot.csproj.CoreCompileInputs.cache
TelegaBot/TelegaBot/obj/Debug/TelegaBot.csproj.CoreCompileInputs.cache
